html {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: arial;
}

header {
  font-size: 1.5em;
  /*font-weight: bold;*/
  border-bottom: 2px solid black;
}

.required  {
  font-size: .85rem;
  color: red;
}

form {
  font-size: 1em;
}

form > p > label{
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

form > p > input, textarea {
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  height: 2em;
  padding-left: 5px;
}

.hint{
  color: white;
  font-size: .75em;
  background: #d45252;
  width: 80px;
  margin-left: 25px;
  padding: 2px 5px;
}

textarea {
  resize: none;
}

#practice-form {
  position: relative;
  width: 40%;
}

#submit {
  /*width: 5em;
  height: 10em;*/
}

#message {
  width: 45%;
  height: 5em;
}